<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxAcsHc0br3vOmqyNGyQYHp3Cl_YBdfnM</string>
	<key>GCM_SENDER_ID</key>
	<string>47069401123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.z3hdro.cargodelivery</string>
	<key>PROJECT_ID</key>
	<string>delivery-app-a6643</string>
	<key>STORAGE_BUCKET</key>
	<string>delivery-app-a6643.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47069401123:ios:74cf3452bee1a94e39e196</string>
</dict>
</plist>